@font-face {
  font-family: publicSans;
  src: url(../resources/fonts/PublicSans_Light.woff);
}

.title,
.container-fluid,
p {
  font-family: publicSans, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

.title {
  border-bottom: 5px solid orange;
}

.container-fluid {
  background-color: #000;
  color: white;
}

.border-double {
  border-style: solid;
  border-color: #5f7884;
}

#search {

  width: 100%;
  font-size: 14px;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;

}



.overflow-hidden {
  overflow: hidden;
}


.title h1 {
  color: #ffffff;
  font-weight: 600;
  text-shadow: 2px 2px DarkGray;
}

.covid-value {
  line-height: normal;
  text-align: center;
}

.covid-value-large {

  font-size: 60px;
}

.covid-value-small {

  font-size: 25px;
}

.covid-value-secondary {
  color: #9a9898
}

.sub-title {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

#covid_data .sub-title {
  font-size: 30px;

}

.box-div {
  background-color: #404040;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.height-200 {
  min-height: 200px;

}




.font-grey {
  color: #4e4e4e;
}

.copyright {
  font-style: italic;
  line-height: 1.42857;
  font-weight: 400;
  font-size: 14px;
}



.browser-compatibility-alert {
  padding: 20px;
  top: 150px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
}

.browser-compatibility-alert i {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%)
}

.browser-compatibility-alert .browser-error {
  font-size: 20px;
  padding-left: 110px;
}


.chart-div {

  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.width100percent {
  width: 100%
}